:root {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.main {
    width: auto;
    background-color: white;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.main-header {
    margin: 4.5em 6em 2em 3em;
    font-size: 1.3em;
}

.sidebar {
    float: left;

}

.sidebar img {
    object-fit: cover;
    z-index: -1;
}

.logo-credit{
    position: absolute;
    top: 48%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 20em;
}

.logo {
    text-align: center;
    font-size: 3em;
    background-color: rgba(0, 0, 0, 0.454);
    color: white;
    width: 30vw;
    padding-top: .2em;
}

.photo-credit {
    position: absolute;
    bottom: -210%;
    right: 10%;
    color: rgba(149, 149, 149, 0.46);
}

.photo-credit a {
    text-decoration: underline;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    /* padding-right: 1em; */
}
 .formArea h2 {
    position: relative;
    left: 2em;
    font-size: 2em;
    margin: .5em;
 }

label {
    display: block;
    padding-bottom: .3em;
}

input {
    width: 15em;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    border-bottom: 2px solid rgb(185, 185, 185);
    font-size: 1.1em;
    text-decoration: none;
    margin-right: 1.3em;
}

.form-section {
    margin: 1em;
}

label {
    font-size: 1.1em;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3em;
}

button {
    height: 3em;
    width: 12em;
    font-size: .75em;
}

.login {
    display: flex;
    justify-content: center;
}

.login a {
    text-decoration: underline;
}

.footer {
    display: flex;
    align-items: center;
    z-index: 1;
    position: absolute;
    right: 25%;
    bottom: 0px;
    padding: 20px;
}